[submodule "opsworks_custom_env"]
	path = opsworks_custom_env
	url = https://github.com/joeyAghion/opsworks_custom_env.git
[submodule "awscli"]
	path = awscli
	url = https://github.com/shlomoswidler/awscli.git
[submodule "mirthconnect"]
	path = mirthconnect
	url = https://github.com/developertown/cookbook-mirthconnect.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/hw-cookbooks/postgresql.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "copperegg"]
	path = copperegg
	url = https://github.com/developertown/chef-copperegg
  branch = unicode_readme
[submodule "sumologic-collector"]
	path = sumologic-collector
	url = https://github.com/SumoLogic/sumologic-collector-chef-cookbook
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler
[submodule "scout"]
	path = scout
	url = https://github.com/scoutapp/scout_cookbooks
[submodule "opsworks_sidekiq"]
	path = opsworks_sidekiq
	url = https://github.com/developertown/opsworks_sidekiq.git
[submodule "yum"]
	path = yum
	url = https://github.com/chef-cookbooks/yum.git
[submodule "aws"]
	path = aws
	url = https://github.com/chef-cookbooks/aws.git
[submodule "windows"]
	path = windows
	url = https://github.com/chef-cookbooks/windows
[submodule "opsworks-sidekiq-upstart"]
	path = opsworks-sidekiq-upstart
	url = https://github.com/dnewkerk/opsworks-sidekiq.git
