[submodule "opsworks_custom_env"]
	path = opsworks_custom_env
	url = https://github.com/joeyAghion/opsworks_custom_env.git
[submodule "awscli"]
	path = awscli
	url = https://github.com/shlomoswidler/awscli.git
[submodule "mirthconnect"]
	path = mirthconnect
	url = https://github.com/developertown/cookbook-mirthconnect.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/hw-cookbooks/postgresql.git
